body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 250px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}